.Header
  = image_tag 'jyoumu.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'taiwan2.jpg', alt: "ヘッダー", class: "header-img2"
  = image_tag 'taiwan3.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'jyomu8.jpg', alt: "ヘッダー", class: "header-img2"
  = image_tag 'thai.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'ansan.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'taiwan1.jpg', alt: "ヘッダー", class: "header-img2"
  = image_tag 'Hokkaido.jpg', alt: "ヘッダー", class: "header-img2"
  = image_tag 'jyomu4.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'umi.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'honma.jpg', alt: "ヘッダー", class: "header-img2"
  = image_tag 'kato.jpg', alt: "ヘッダー", class: "header-img"
  = image_tag 'taiwan5.jpg', alt: "ヘッダー", class: "header-img2"
